.bottom-bar {
    position: fixed;
    bottom: var(--stop-button-size);
    left: 0;

    width: 100%;
    height: var(--bottom-bar-height);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    border-top: var(--button-border-width) solid var(--button-border-color);

    z-index: 1000;
}