.speech-list-item {
    width: 100%;
    min-height: 60px;

    display: flex;
    align-items: center;

    padding: 10px 15px;
    box-sizing: border-box;

    border: var(--button-border-width) solid var(--button-border-color);
    border-radius: 10px;
}

.speech-title {
    flex: 1;
    margin: 0 15px;

    font-size: 18px;
    text-align: left;
    color: var(--color-text);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (orientation: landscape) and (max-height: 600px) {
    .speech-list-item {
        min-height: 44px;
        padding: 6px 12px;
    }

    .speech-title {
        font-size: 15px;
    }
}