.speech-selection-view {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 20px;
}

.speech-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;

  overflow-y: auto;
  overflow-x: hidden;

  flex: 1;
}